doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		title CVSite | Antonio Villagra De La Cruz
	
		link(href="#{locals['dist/app.css'].substr(5)}" rel="stylesheet")
		script(src="#{locals['dist/app.js'].substr(5)}")

	body
		p Hello, world!
